* {
  padding: 0px;
  margin: 0px;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e4ebf5;
  color: black !important;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
}


body.dark-mode,
body.dark-mode main * {
    background-color: black !important;
    color: #E4EBF5 !important;
}


.nav-wrapper {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar {
  list-style-type: none;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background-color: #e4ebf5;
}


body.dark-mode .navbar {
    background-color: black;

}

.navbar a {
  color: black !important;
  text-decoration: none;
  padding: 0px 15px;
  cursor: pointer;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sidenav-trigger svg{
  display: none;
}


body.dark-mode .navbar a {
    color: #E4EBF5 !important;
}


.navbar a:hover {
  background-color: hsl(217, 25%, 82%);
}


body.dark-mode .navbar a:hover {
    background-color: black;
  }

.nav-theme-toggler {
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.nav-theme-toggler:hover {
  cursor: pointer;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin: 20px 0;
}

.project{
    background-color: hsl(216, 21%, 83%) ;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    
}

body.dark-mode .project{
      background-color: hsl(0, 0%, 5%) !important;
      box-shadow: 0px 5px 15px hsla(0, 0%, 100%, 0.25);
}


.project-image{
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 400px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.project-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;
}

.project-info{
  margin: 0px 10px;
}


.link-g{
  text-decoration: none;
}

.seeMore{
  background-color: hsl(216, 21%, 86%);
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: center;
  align-items: center;
  color: black;
}

body.dark-mode .seeMore{
  background-color: hsl(0, 0%, 5%);
  color: #E4EBF5;
}

body.dark-mode .fa-arrow-right {
  color: #E4EBF5 !important;
}


.skill {
  display: inline-block;
  border-radius: 16px;
  padding: 4px 10px;
  margin: 5px 10px 10px 0px;
  background-color: hsl(216, 21%, 86%);
  color: hsl(0, 0%, 30%);
  font-size: 10px;
}


.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: 100%;
  background-color:  hsl(216, 21%, 86%);
}

.copy{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body.dark-mode .fa-regular{
  color: #E4EBF5 !important;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.fa-brands, .fa-solid {
  margin-right: 10px;
}

body.dark-mode .footer {
  background-color: hsl(0, 0%, 5%);
}

body.dark-mode .fa-brands,
body.dark-mode .fa-solid {
  color: #E4EBF5 !important;
}

@media (max-width: 600px) {
  .project{
    width: 300px;
  }

  .project-image{
    width: 300px;
  }

}