* {
  padding: 0px;
  margin: 0px;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e4ebf5;
  color: black !important;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  transition: background-color 0.3s ease-in-out;
}


body.dark-mode,
body.dark-mode main * {
    background-color: black !important;
    color: #E4EBF5 !important;
}

.nav-wrapper {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar {
  list-style-type: none;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background-color: #e4ebf5;
  transition: background-color 0.3s ease-in-out;
}


body.dark-mode .navbar {
    background-color: black;

}

.navbar a {
  color: black !important;
  text-decoration: none;
  padding: 0px 15px;
  cursor: pointer;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sidenav-trigger svg{
  display: none;
}


body.dark-mode .navbar a {
    color: #E4EBF5 !important;
}


.navbar a:hover {
  background-color: hsl(217, 25%, 82%);
}


body.dark-mode .navbar a:hover {
    background-color: black;
  }

.nav-theme-toggler {
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.nav-theme-toggler:hover {
  cursor: pointer;
}

.wrapper-dev {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
  margin: 0px auto;
  margin-top: 10px;
}

.homeSec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 70vh;
  width: 100%;
  margin: 0 auto;
}



.name {
  font-size: 4.2rem;
  text-align: center;
}
.majorAnim{
  display: inline-block;
}


.major {
  color: black !important;
  font-size: 1.7rem;
  border-right: 2px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
            typing 7s steps(22) infinite,
            cursor .4s step-end infinite alternate;

}

@keyframes cursor {
  50% { border-color: transparent;}
  
}

@keyframes typing {
  50% { width: 0;}
}


body.dark-mode .major {
    color: #E4EBF5 !important;
}

.aboutSec {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: center;
  height: 90vh;
  width: 50%;
  margin: 20px auto;
  padding: 0 50px;
}

.aboutMe {
  margin: 10px 0px;
  font-size: 2.3rem;
}

.aboutDes {
  margin: 0px auto;
  text-align: justify;
  font-size: 1.15rem;
}

.skillsSec {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 90vh;
  width: 70%;
  margin: 20px auto;
  padding: 0 50px;
  text-align: justify;
}

.mySkill {
  margin-bottom: 10px;
}

.skill {
  display: inline-block;
  border-radius: 16px;
  padding: 4px 10px;
  margin: 0px 10px 18px 0px;
  background-color: hsl(216, 21%, 86%);
  color: hsl(0, 0%, 30%);
  font-size: 18px;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: 100%;
  background-color:  hsl(216, 21%, 86%);
  transition: background-color 0.3s ease-in-out;
}

.copy{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body.dark-mode .fa-regular{
  color: #E4EBF5 !important;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.fa-brands {
  margin-right: 10px;
}

body.dark-mode .footer {
  background-color: hsl(0, 0%, 5%);
}

body.dark-mode .fa-brands {
  color: #E4EBF5 !important;
}

@media (max-width: 1145px) {
  .wrapper-dev {
    width: 70%;
  }
  .aboutSec {
    width: 65%;
  }
}

@media (max-width: 900px) {
  .wrapper-dev {
    width: 90%;
  }
  .aboutSec {
    width: 60%;
  }

}

@media (max-width: 600px) {
  .wrapper-dev {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 10px;
  }

  
.sidenav-trigger svg{
  position: absolute;
  left: 10px;
  margin-top: 10px;
  display: block;
}

  .homeSec {
    height: 80vh;
    width: 100%;
    padding: 0px 42px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50px;
  }

  .aboutSec {
    height: 80vh;
    width: 100%;
    margin: 0px auto;
    padding: 20px 0px;
    align-items: start;
  }


  .aboutMe {
    margin: 10px;
    font-size: 2.3rem;
    padding-left: 10px;
  }
  .aboutDes {
    margin: 0px 20px;
    font-size: 1.2rem;
  }
  .skillsSec {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 80vh;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
  }
  .skill {
    display: inline-block;
    border-radius: 16px;
    padding: 5px 5px;
    margin: 0px 10px 10px 0px;
    background-color: hsl(216, 21%, 86%);
  }
}
